/* Theme */

body.grey-white main {
	background: #485564;
	color: #FAFAFA;
	--pdf-button-bg: #485564;
  --pdf-button-text: #FAFAFA;
  --pdf-button-hover: #485564;
	--pdf-button-border: #FAFAFA;
	--heading-color: #FAFAFA;
}

body.grey-white .icons-social a {
	color: #FAFAFA;
}

body.grey-white .icons-social a svg path{
	fill: #FAFAFA;
}

body.grey-white .project-card {
	background-color: #FAFAFA;
	color: #485564;
}