/* Theme */

body.indigo-white main {
	background: #303F9F;
	color: #FAFAFA;
	--pdf-button-bg: #303F9F;
  --pdf-button-text: #FAFAFA;
  --pdf-button-hover: #303F9F;
	--pdf-button-border: #FAFAFA;
	--heading-color: #FAFAFA;
}

body.indigo-white .icons-social a {
	color: #FAFAFA;
}

body.indigo-white .icons-social a svg path{
	fill: #FAFAFA;
}

body.indigo-white .project-card {
	background-color: #FAFAFA;
	color: #303F9F;
}