/* Theme */

body.red-white main {
	background: #AF3D4E;
	color: #FAFAFA;
	--pdf-button-bg: #AF3D4E;
  --pdf-button-text: #FAFAFA;
  --pdf-button-hover: #AF3D4E;
	--pdf-button-border: #FAFAFA;
	--heading-color: #FAFAFA;
}

body.red-white .icons-social a {
	color: #FAFAFA;
}

body.red-white .icons-social a svg path{
	fill: #FAFAFA;
}

body.red-white .project-card {
	background-color: #FAFAFA;
	color: #AF3D4E;
}