/* Theme */

body.white-grey main {
	background: #EDEDED;
	color: #4B5658;
	--pdf-button-bg: #EDEDED;
  --pdf-button-text: #4B5658;
  --pdf-button-hover: #EDEDED;
	--pdf-button-border: #4B5658;
	--heading-color: #4B5658;
}

body.white-grey .icons-social a {
	color: #4B5658;
}

body.white-grey .icons-social a svg path{
	fill: #4B5658;
}