/* Theme */

body.yellow-black main {
	background: #FFEB3B;
	color: #1E1E1E;
	--pdf-button-bg: #FFEB3B;
  --pdf-button-text: #1E1E1E;
  --pdf-button-hover: #FFEB3B;
	--pdf-button-border: #1E1E1E;
	--heading-color: #1E1E1E;
}

body.yellow-black .icons-social a {
	color: #1E1E1E;
}

body.yellow-black .icons-social a svg path{
	fill: #1E1E1E;
}